@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .4s ease;
}
body {
  /* font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'Graphik Medium','Noto Sans', sans-serif;
transition: all .3s ease;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding-content {
  padding-left: 20px;
  padding-right: 15px;
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.icons {
  margin: auto auto;
  display: block;
}
color {
  color: rgb(87, 87, 87);
}
@font-face {
  font-family: 'Graphik Black';
  src: url('./fonts/GraphikBlack.otf');
}

@font-face {
  font-family: 'Graphik Black Italic';
  src: url('./fonts/GraphikBlackItalic.otf');
}

@font-face {
  font-family: 'Graphik Bold';
  src: url('./fonts/GraphikBold.otf');
}

@font-face {
  font-family: 'Graphik Bold Italic';
  src: url('./fonts/GraphikBoldItalic.otf');
}

@font-face {
  font-family: 'Graphik Extra Light';
  src: url('./fonts/GraphikExtralight.otf');
}

@font-face {
  font-family: 'Graphik Extra Light Italic';
  src: url('./fonts/GraphikExtralightItalic.otf');
}

@font-face {
  font-family: 'Graphik Light';
  src: url('./fonts/GraphikLight.otf');
}

@font-face {
  font-family: 'Graphik Light Italic';
  src: url('./fonts/GraphikLightItalic.otf');
}

@font-face {
  font-family: 'Graphik Medium';
  src: url('./fonts/GraphikMedium.otf');
}

@font-face {
  font-family: 'Graphik Medium Italic';
  src: url('./fonts/GraphikMediumItalic.otf');
}

@font-face {
  font-family: 'Graphik Regular';
  src: url('./fonts/GraphikRegular.otf');
}

@font-face {
  font-family: 'Graphik Regular Italic';
  src: url('./fonts/GraphikRegularItalic.otf');
}

@font-face {
  font-family: 'Graphik Semibold';
  src: url('./fonts/GraphikSemibold.otf');
}

@font-face {
  font-family: 'Graphik Semibold Italic';
  src: url('./fonts/GraphikSemiboldItalic.otf');
}

@font-face {
  font-family: 'Graphik Super';
  src: url('./fonts/GraphikSuper.otf');
}

@font-face {
  font-family: 'Graphik Super Italic';
  src: url('./fonts/GraphikSuperItalic.otf');
}

@font-face {
  font-family: 'Graphik Thin';
  src: url('./fonts/GraphikThin.otf');
}

@font-face {
  font-family: 'Graphik Thin Italic';
  src: url('./fonts/GraphikThinItalic.otf');
}


.state-container {
  text-align: center;
  padding: 20px;
  /* background-image: linear-gradient(to right bottom,rgb(179, 179, 179), white); */
}

.state {
  font-weight: 700;
  /* display: flex; */
  margin: 0px auto;
  /* justify-content: center; */
  /* text-align: center; */
  /* align-self: center; */
  /* align-items: center; */
  /* width: 100px; */
  /* height: 100px; */
  font-size: 9rem;
  padding: 10px;
  /* border-radius: 50%; */
  background-image: linear-gradient(to right bottom,rgb(0, 128, 255),rgb(0, 72, 255) 10%,rgb(224, 41, 172)  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .3s ease-in;
  animation: bg-gradient 1s infinite ease-in-out ;
}

@keyframes bg-gradient {
  0% {
    background-image: linear-gradient(to right bottom,yellow,rgb(0, 72, 255) 10%,rgb(224, 41, 172)  );
  }
  50% {
    background-image: linear-gradient(to right bottom,pink,rgb(0, 72, 255) 10%,yellow  );
  }
  100%{
    background-image: linear-gradient(to right bottom,yellow,rgb(0, 72, 255) 10%,red  );
  }
}

*::selection {
  background-color: violet;
  color: white;
  
}
.button {
  margin: 10px 15px;
  font-size: 2rem;
  min-width: 100px;
  outline: none;
  border: none;
  /* background-image: none; */
  /* transition: background 1s ease-in; */
  text-align: center;
  justify-content: center;
  display: inline-block;
  
}

.button:active {
  outline: 2px solid black;
  background-image: linear-gradient(to right bottom,rgb(0, 128, 255),rgb(0, 72, 255) 10%,rgb(224, 41, 172)  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}

.active {
  animation: number .5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

@keyframes number {
  0% {
    font-size: 9rem;
  }
  50% {
    font-size: 10rem;
  }
  100% {
    font-size: 9rem;
  }
}

.text-add-button {
  padding: 10px;
  border-radius: 10px;
}
.text-add {
  text-align: center;
}
.flex1 {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  /* background-color: black; */
}
.texts {
  margin: 5px 5px;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  
  color: white;
  width: max-content;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom,rgb(0, 128, 255),rgb(0, 72, 255) 10%,rgb(224, 41, 172)  );
  /* transition: outline .3s ease-in; */
}

.texts:hover {
  outline: 2px solid black ;
  /* box-shadow: 0px 0px 10px -1px rgb(7, 106, 255); */
}

p {
  font-family: 'Open Sans',sans-serif;
}

.searchTerm{
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 800;
  background-image: linear-gradient(to right bottom,rgb(0, 128, 255),rgb(0, 72, 255) 10%,rgb(224, 41, 172)  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: whitesmoke;
}

label[htmlFor="search"]{}

.searchbar {
  padding: 10px;
  background-color: rgb(123, 0, 255);
  width: max-content;
  margin: 0 auto;
  border-radius: 100px;
  color: white;
  border: 1px solid rgb(11, 0, 21);
}

.searchbar > input {
  border-radius: none;
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1rem;
}

.tags {
  display: flex;
  width: 95%;
  padding: 15px;
  border-radius: 5px;
  margin: 10px auto;
  align-items: center;
}
.caution {
  background-color: rgb(253, 253, 202);
  border-left: 5px solid rgb(214, 214, 4);
  color:  rgb(44, 44, 0);
  
}

.caution .text {
  color: rgb(44, 44, 0);
}

.tags .icon {
  margin-right: 10px;
  font-size: 2rem;
}

.app {
  margin: 0 auto;
}

.warning {
  background-color: rgb(253, 202, 202);
  border-left: 5px solid rgb(214, 4, 4);
  color: rgb(44, 0, 0);
}

.tip {
  background-color: rgb(202, 231, 253);
  border-left: 5px solid rgb(4, 130, 214);
  color: rgb(0, 24, 44);
}

a {
  text-decoration: none;
  color: rgb(111, 205, 243);
  transition: all .3s ease;
}
a:hover {
  text-decoration: underline;
  /* color: rgb(4, 130, 214); */
}

.chat__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.chat__wrapper .img-icon {
  /* width: 40px;
  height: 40px;
  border-radius: none; */

}
.mr-1 {
  margin-right: 13px;
}
.chat__border {
  border-bottom: 1px solid whitesmoke;
}

.chat__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.chat__body {
  margin-top: 1px;
}

.chat__body-title{
  font-family: 'Graphik Medium';
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.chat__body-messageStatus {
  /* padding-top: 5px; */
  font-family: 'Graphik Regular';
  font-size: .9rem;
  color: rgb(199, 199, 199);
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
  word-spacing: .4rem;
}
.ICON {
  height:max-content;
padding:10px 5px;
align-self:center;
}

.status-message {
  margin-left: 5px;
}

.chat__snap {
  font-size: 2rem;
  color: rgb(199, 199, 199);
}
.status-icon {
  font-size: .8rem;
}
.status-msg {
  color: rgb(48, 177, 252);
}

.status-snap {
  color: red;
}

.fullheight {
  height: 100vh;
  background-color: yellow;
}

.margin {
  height: 56.4px;
}

.snap-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: calc((100vh - 60px - 56.4px)) !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.swiper-backspace-hidden {
  height: calc(100vh - 60px - 56.4px) !important;
}
.swiper-backface-hidden {
}

.chat__container {
  height: calc(100vh - 60px - 56.4px);
  overflow-y: scroll;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* flex: 1; */

}

.bg-black {
  background-color: black !important;
}

.fullscreenModalbody {
  z-index: 2400;
  position: fixed;
  /* top: 50vh;
  right: 50vw; */
  background-color: rgba(0, 0, 0, 0.792);
  /* padding: 20px; */
  width: 100%;
  height: 100%;
}

.fullscreenModalbody .content {
  background-color: white;
  position: fixed;
  bottom: 0vh;
  left: 15vw ;
  right: 15vw;
  padding: 20px;
  border-radius: 8px;
  animation: openmodal .5s ease forwards;
  max-width: max-content;
  transform: scale(0);
}

@keyframes openmodal {
  from{
    bottom: 0vh;
    transform: scale(0);
  } 
  to {
    bottom: calc(45%);
    transform: scale(1);
  }
}
.fullscreenModalbody .qtn {
  margin-bottom: 20px;
}

.fullscreenModalbody .bg {
  background-color: black;
}

.fullscreenModalbody button {
  background-color: black;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  border: none;
}

.chatIsActive {
  color: rgb(28, 171, 254) !important;
}

.search__container {
  /* margin: 45; */
  background-color: #f5f5f5;
  border: none;
  /* padding: 2px; */
  color: rgb(87, 87, 87);
  font-size: 1.4rem;
  border-radius: 100px;
  max-width: max-content;
  /* padding: 4px 4px; */
  overflow: hidden;
  position: absolute;
  left: calc(50px + 13px);
}

.search__wrapper {
  /* padding: 4px; */
  height: 45px;
  min-width: 45px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;

}
.search__icon {
  /* margin: auto auto; */
  display: block;
  /* margin-right: 10px; */
}

.search__bar {
  background-color: whitesmoke;
  border:none;
  outline: none;
  display: none;
  width: 150px;
  font-size: 1.2rem;
}

.visibility {
  display: block;
}
